page-login {
    main {
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        min-height: 100%;
        
        input {
            display:grid;
            width: 80%;
        }
    }
}
