$buttonOffset:15px;

page-main {
    main {
        display: grid;
        min-height: 100%;
    }
 
    #map {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
    }

    #menu {
        z-index: 800;
        display: grid;
        justify-self: flex-start;
        align-self: flex-start;
        margin-left: $buttonOffset;
        margin-top: $buttonOffset;
    }

    #go {
        z-index: 800;
        display: grid;
        justify-self: center;
        align-self: flex-end;
        margin-bottom: $buttonOffset;
    }

    #billing, #authentication, #routes {
        width: 100%;
        display: grid;
    }
}
