$buttonOffset:15px;
$buttonRadius:15px;
$buttonSearchOffset:15px;

$avatarMargin:15px;

$searchbar-min-height:2.8em;

page-main {

    main {
        display: grid;
        grid-template: 
        "search settings"
        "content content";
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        min-height: 100%;
    }
 
    #menu {
        display: grid;
        grid-area: settings;
        z-index: 800;
        
        justify-self: flex-start;
        align-self: flex-start;
        margin: 15px;
        margin-left: 0;
    }

    #go {
        display: grid;
        grid-area: content;
        z-index: 800;
        
        justify-self: center;
        align-self: flex-end;
        margin-bottom: $buttonOffset;
    }

    #search {
        margin: 15px;
    }

    #map {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
    }

    #billing, #authentication, #routes {
        width: 100%;
        display: grid;
    }

    #avatar{
        margin: $avatarMargin;
        display: grid;
        grid-auto-flow: row;

        align-content: center;
        justify-content: center;

        .image{
            display: grid;
            width: auto;
            height: 9rem;
            border-radius: 100%;
            background-color: red;
        }
        .username{
            margin-top: 15px;
            font-size: 16px;
            justify-self: center;
        }
    }
}